* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
}
.btn {
  display: inline-block;
  padding: 12px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.btn:disabled {
  pointer-events: none;
  opacity: .5;
}
.btn-sm {
  font-size: 13px;
  padding: 8px 10px;
}
.btn-lg {
  font-size: 19px;
  padding: 14px 16px;
}
.btn-primary {
  background-color: hsl(210, 100%, 50%);
  color: white;
}
.btn-primary:hover {
  background-color: hsl(210, 100%, 40%);
}
.btn-danger {
  background-color: hsl(0, 70%, 55%);
  color: white;
}
.btn-danger:hover {
  background-color: hsl(0, 70%, 45%);
}
.btn-success {
  background-color: hsl(152, 68%, 31%);
  color: white;
}
.btn-success:hover {
  background-color: hsl(152, 68%, 21%);
}
.btn-outline-primary {
  background-color: white;
  color: hsl(210, 100%, 50%);
  border: 1px solid hsl(210, 100%, 50%);
}
.btn-outline-primary:hover {
  background-color: hsl(210, 100%, 50%);
  color: white;
}
.btn-outline-danger {
  background-color: white;
  color: hsl(0, 70%, 55%);
  border: 1px solid hsl(0, 70%, 55%);
}
.btn-outline-danger:hover {
  background-color: hsl(0, 70%, 55%);
  color: white;
}
.btn-outline-success {
  background-color: white;
  color: hsl(152, 68%, 31%);
  border: 1px solid hsl(152, 68%, 31%);
}
.btn-outline-success:hover {
  background-color: hsl(152, 68%, 31%);
  color: white;
}